<?xml version="1.0"?>
<launch>

  <!-- Starting the example in the empty world scenario -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find crestino_gazebo)/worlds/crestino.world"/>	
    <arg name="paused" value="true"/>
  </include>

  <!-- defining the position of the robot -->
  <arg name="model" default="$(find ass_2)/urdf/robot.xacro" />
  <arg name="x" default="2"/>
  <arg name="y" default="4"/>
  <arg name="yaw" default="0"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" 
	 command="$(find xacro)/xacro --inorder $(find ass_2)/urdf/robot.xacro" />

  <!-- launching the spawner and the controller for the robot -->
  <param name="tf_prefix" value="robot_tf" />
  	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model robot -param robot_description -x $(arg x) -y $(arg y) -z 0.05 -Y $(arg yaw)"/>
        <node name="controller" pkg="ass_2" type="node_controller" output="screen"/>

</launch>
