<?xml version="1.0"?>
<launch>

  <!-- Starting the example in the empty world scenario -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find crestino_gazebo)/worlds/crestino.world"/>	
    <arg name="paused" value="true"/>
  </include>

  <!-- defining the namespaces of the robot -->
  <arg name="ns1" value="robot"/>

  <!-- defining the position of the robot -->
  <arg name="x" default="4"/>
  <arg name="y" default="4"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="$(arg ns1)/robot_description" 
	 command="$(find xacro)/xacro --inorder $(find ass_2)/urdf/robot.xacro" />

  <!-- launching the spawner and the controller for the robot -->
  <group ns="$(arg ns1)">
  <param name="tf_prefix" value="robot_tf" />
  	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model $(arg ns1) -param robot_description -x $(arg x) -y $(arg y) -z 0.05"/>
        <node name="controller" pkg="ass_2" type="node_controller" output="screen"/>

  </group>

</launch>
